MAKE_PHONY_TARGETS :=  \
    clean-install \
    clean \
    uninstall \
    install \
    build \
    build-no-cache \
    up \
    down \
    restart \
    start \
    stop \
    ps \
    stats \
    yarn \
    logs \
    images \
    network-ls \
    network-rm \
    network-init \
    volume-ls \
    volume-ls-all \
    volume-rm \
    volume-rm-all \
    volume-init \
    nfs-osx \
    dump \
    add-hosts \
    remove-hosts \
    router \
    redis-ssh \
    redis-cli \
    lint \
    lint-fix \
    lint-yaml \
    es-lint \
    pre-install \
    post-install \
    pre-build \
    post-build
